.wrapper{
  margin:1% 5%;
  width:85%;
}
body{
  margin:0px;
}
.footer{
  background:rgb(35,35,35);
  bottom:0;
  position:absolute;
  width:100%;
  margin:0;
}
.footer p{
  color:rgb(255,255,255);
  padding:10px 25px;
}
